@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
header {
  background-color: #002166;
  width: 100%;
  height: 270px;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.header {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #314396;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.header-banner{
    position: absolute;
    left: 330px;
    border-left: 1px solid white;
    height: 100%;
    padding: 30px;
    text-align: left;
}

.header-banner .fa{
    font-size: 45px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.teste{
    width: 100%;
    height: 100%;
    background-color: black;
}

.inner {
  padding: 30px;
}

.navbar{
    margin-bottom: 0px!important;
    border-bottom: 1px solid white;
}

.navbar-nav > li {
  display: inline-block;
  padding: 10px;
}

.navbar-nav > li + li {
  margin-left: 20px;
}

.navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /* IE8 proofing */
  color: rgba(255, 255, 255, .95);
  border-bottom: 2px solid transparent;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
  border-bottom-color: #fff;
}

.navbar-fixed-top {
    padding-left: 20px;
    background-color: #314396;
    display: block;
    float:right;
    position: fixed !important;
    top: 0;
    width: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .1);
   -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    transition:all ease 1s;
    
}

@media (min-width: 768px) {
   #menu_icon {
        display: none;
    }
  .navbar-brand {
    float: left;
  }
  .navbar-nav {
    float: right;
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    background: #000 !important;
  }
}

.tabStrip {
  background: #f3eee9;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.grey {
  background: grey;
}

.blue {
  background: #00BFFF;
}

.orange {
  background: #FF8C00;
}

.green {
  background: #6B8E23;
}

.tabStrip ul li a {
  color: #fff;
}

.tabStrip ul li a:hover {
  border: none;
  background: none;
}

.divlogo{
    width: 220px;
    margin: 10px 20px 10px 20px;
}

#inline-block{
    display: inline;
}

